<%= stylesheet_link_tag "listings_cards", "data-turbo-track": "reload" %>
<div class="input-group customsearch">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>Search Professional </button>
</div>
<div class="container mt-5 mb-3">
    <div class="row">
      <% Hcp.all.each do |hcp| %>
    <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0"><strong><%= hcp.speciality %></strong></h6> <span><strong><%= hcp.experience %></strong> Years of Experience</span>
                        </div>
                    </div>
                    <div class="badge"><span>Available</span></div>
                </div>
                <div class="mt-3">
                    <h3 class="heading"><%= hcp.user.first_name %> <%= hcp.user.last_name %></h3>
                    <%= link_to "Details", listing_path(hcp), class: "btn btn-info customdtl" %>
                </div>
            </div>
        </div>
  <% end %>
    </div>
</div>
