<%= stylesheet_link_tag "listings_cards", "data-turbo-track": "reload" %>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_tag listings_path, method: :get, class: "d-flex my-3" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Look for a Speciality"
        %>
      <%= submit_tag "Search", name: "", class: "mx-2 btn btn-info" %>
    <% end %>
  </div>
</div>
<div class="container mt-4 mb-3">
    <div class="row">
      <% if @listings.any? %>
      <% @listings.each do |hcp| %>
    <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
           <div class="d-flex flex-column"> <div class="flex-row align-items-center"> <div class="avatar-container">
        <% if hcp.user.photo.key.blank? %>
          <%= image_tag "logo.png", height: 70, width: 70, class: "avatar" %>
        <% else %>
          <%= cl_image_tag hcp.user.photo.key, height: 70, width: 70, class: "avatar"%>
        <% end %>
      </div>
<div class="card p-3 mb-2">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                            <h6 class="mb-0"><strong><%= hcp.user.first_name %> - <%= hcp.speciality %></strong></h6>
                            <span><strong><%= hcp.experience %></strong> Years of Experience</span>
                        </div>
                    </div>
</div>
    </div>
    </div>
                    <div class="badge"><span>$<%= hcp.price %></span></div>
                </div>
                <div>
                <div class="biography-container">
        <p><%= hcp.biography.truncate_words(7) %></p>
      </div>
                    <%= link_to "Details", listing_path(hcp), class: "btn btn-info col-12 customdtl" %>
                </div>
            </div>
        </div>
        <% end %>
       <% else %>
          <em class="mb-5">Sorry, no health care providers with that speciality found.</em>
       <% end %>
    </div>
</div>
