
<!-- app/views/hcp/show.html.erb -->
<h1><%= @listing.user.first_name %>'s Profile</h1>
<p><%= @hcp.age %></p>
<p>Specialty: <%= @hcp.speciality %></p>
<p>Experience: <%= @hcp.experience %> years</p>

<p><%= @hcp.availability %></p>
<p><%= @hcp.price %></p>

<h2>Available Appointments</h2>
<% if @appointments.any? %>
  <ul>
    <% @appointments.each do |appointment| %>
      <li><%= appointment.date %></li>
    <% end %>
  </ul>
<% else %>
  <p>No appointments available.</p>
<% end %>

<h2>Book Appointment</h2>
<%= form_tag(appointment_listing_path(@listing), method: :post) do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :hcp_id, @listing.id %>

  <label for="selected_date">Select Date:</label>
  <%= date_field_tag :selected_date, nil, min: Date.today %>

  <%= submit_tag 'Book Appointment' %>
<% end %>
