<%= stylesheet_link_tag "hcppage", "data-turbo-track": "reload" %>
<div class="container my-5">
  <div class="d-flex border p-3 gap-4" >
    <div>
      <%= cl_image_tag @hcp.user.photo.key, height: 450, width: 450, style: "border-radius: 15px;"%>
    </div>
    <div>
      <div class="d-flex flex-column">
        <div class="mb-4">
          <p class="hcpspeciality"><%= @hcp.speciality %></p>
          <div class="hcpname"><%= @hcp.user.first_name %> <%= @hcp.user.last_name %></div>
          <div class="hcpdescription">
            <p><%= @hcp.biography  %></p>
          </div>
        </div>
        <div class="hcpinfos d-flex justify-content-between">
          <p><strong><%= @hcp.experience %></strong> years of experience</p>
        </div>
        <div data-hcp-id="<%= @hcp.id %>">
          <%= simple_form_for(Appointment.new, url: book_appointment_listing_path(@hcp), method: :post) do |f| %>
            <div class="">
              <%= f.input :date,
                as: :string,
                input_html: {
                  data: {
                    controller: "datepicker",
                    disabled_dates_url: disabled_dates_listing_path(@hcp)
                  }
                }
              %>
              <%= f.button :submit, 'Book Now', class: 'btn btn-info col-12 rounded' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
