<%= stylesheet_link_tag "hcppage", "data-turbo-track": "reload" %>
<div class="container my-5">
  <div class="d-flex border p-3 gap-4" >
    <div>
      <img src="https://source.unsplash.com/random/400x400" alt="" style="border-radius:20px;">
    </div>
    <div>
      <div class="d-flex flex-column">
        <div class="mb-4">
          <p class="hcpspeciality"><%= @hcp.speciality %></p>
          <div class="hcpname"><%= @hcp.user.first_name %> <%= @hcp.user.last_name %></div>
          <div class="hcpdescription">
            <p><%= @hcp.biography  %></p>
          </div>
        </div>
        <div class="hcpinfos d-flex justify-content-between">
          <p><strong><%= @hcp.experience %></strong> years of experience</p>
        </div>
        <div>
          <%= form_tag book_appointment_listing_path(@hcp), method: :post, id: 'book-appointment-form', style: 'display: none;' do %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <% end %>
          <div>
            <%= link_to 'Book Now', '#', id: 'book-appointment-btn', class: 'btn btn-info' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const bookAppointmentBtn = document.getElementById("book-appointment-btn");
    const bookAppointmentForm = document.getElementById("book-appointment-form");

    bookAppointmentBtn.addEventListener("click", function() {
      bookAppointmentForm.submit();
    });
  });
</script>
