<h1><%= @hcp.name %></h1>
<p>short bio</p>
<h2><%= @hcp.speciality%></h2>
<p><%= @hcp.rating %></p>
<p><%= @hcp.experience %></p>
<p><%= @hcp.age %></p>
<p><%= @hcp.phone_number %></p>
<p><%= @hcp.availability %></p>
<p><%= @hcp.price %></p>
